{% extends 'layouts/base.html' %}

{% block content %}
<h1>Home</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, id. Ipsa iusto deleniti a labore quos excepturi! Pariatur corrupti cupiditate minus possimus incidunt molestiae nihil libero blanditiis, id, nesciunt, porro voluptas numquam esse accusantium nobis a iure placeat. Accusantium sequi aspernatur incidunt beatae! Incidunt, debitis consectetur! Corrupti odio consectetur eius autem at dolor voluptatum et! Reprehenderit facere possimus repudiandae distinctio porro accusantium provident iure velit inventore neque voluptas fugiat totam, tenetur ea laborum. Odio pariatur, illo nisi veritatis voluptatum esse inventore ad ipsa doloribus impedit voluptatibus dolore sequi repellendus ipsam commodi qui porro iure, tenetur rem. Recusandae nesciunt iusto aliquid.</p>

{%endblock %}